@media screen and (max-width: 1200px) {
    .sidebar {
        transform: translateX(-250px);
    }

    .sidebar.collapsed {
        transform: translateX(0);
    }

    .main-content {
        margin-left: 0;
    }

    .main-content.collapsed {
        margin-left: 250px;
    }
    .header{
        width: 100%;
    }
}
/* Smaller than lg */
@media screen and (max-width: 992px) {
	.login-page .login-top-bg{
        width: calc(100% - 15px);
    }

    
}


/* Smaller than sm */
@media screen and (max-width: 576px) {	
	.login-page .form-outer .buttons button{
        width: 170px;
        margin-bottom: 40px;
    }
}