:root {
    --primary-color: #DB2626;

    --primary-grey-color:#BFBFBF;
    --secondary-grey-color:#A9A9A9;
    --tertiary-grey-color:#dee2e6;

    --primary-black:#000000;
    --secondary-black:#4B5563;
}
.border{
    border: 1px solid var(--tertiary-grey-color);
}

body{
    margin: 0px;
    padding: 0px;
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    color: var(--primary-black);
    overflow-x: hidden;
}

a{
    color: var(--primary-black);
    text-decoration: none;
    transition: color 0.3s ease-in-out, text-decoration 0.3s ease-in-out; 

}

button,
.btn{
    padding: 12px 25px;
    transition: color 0.3s ease-in-out, text-decoration 0.3s ease-in-out; 
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.btn-sm{
    padding: 6px 8px;
    font-size: 14px;
}

.btn-primary{
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}
.btn-secondary{
    background-color: var(--secondary-black);
    border-color: var(--secondary-black);
}
.btn-primary.disabled{
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-primary:hover,
.btn-primary:active{
    background-color: var(--primary-black);
    border-color: var(--primary-black);
}

.btn-secondary{
    background-color: var(--secondary-grey-color);
    border-color: var(--secondary-grey-color);
}
.flatpickr-weekdays{
    background: #e31e23!important;
}
.flatpickr-months .flatpickr-month{
    background: #e31e23!important;
}
span.flatpickr-weekday{
     background: #e31e23!important;
}
.flatpickr-current-month .flatpickr-monthDropdown-months{
    background: #e31e23!important;
}
span.flatpickr-weekday{
    color: #fff!important;
}
.form-check-input:checked {
  background-color: #DB2626 !important;
  border-color: #DB2626 !important;
}
.form-check-input:focus {
  box-shadow: 0 0 0 0.2rem rgba(219, 38, 38, 0.25) !important;
}


/* Login Page CSS */
.login-page{
    height: 100vh;
}
.login-page .login-top-bg{
    background-color: var(--primary-color);
    height: 40px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    top: 0;
    width: 100%;
}

.login-page .small-logo-outer span{
    font-size: 18px;
    font-weight: 700;
}



.login-page .form-outer .form-check-label{
    color: var(--primary-grey-color);
    font-weight: 700;
}

.login-page .form-outer .eye-icon{
    right: 12px;
    bottom: 8px;
}
.login-page .form-outer .forgot-password{
    font-weight: 700;
}
.login-page .form-outer .forgot-password:hover{
    color: var(--primary-color);
}

.login-page .form-outer .buttons button{
    width: 180px;
}

/* Dahboard content  styleing*/
.welcome-card{
    background-color: var(--primary-color);
    border-radius: 10px;
}
.welcome-card .heading h3{
    color: #ffffff;
    margin: 0;
}
.welcome-card .heading p{
    color: #ffffff;
    margin: 0;
}
.welcome-card .text-end span{
    color: #ffffff;
}
.dashboard .alert-danger .time-info button{
    font-size: 10px;
    padding-top: 12px;
    box-shadow: none;
}
.dashboard .alert-light{
    background-color: var(--primary-grey-colors);
    border: 1px solid var(--tertiary-grey-color);
}
.dashboard .alert-light .time-info button{
    font-size: 10px;
    padding-top: 12px;
    box-shadow: none;
}
.alert-secondry{
    background-color: #E5E4E2;
    border: 1px solid var(--tertiary-grey-color);
}
.dashboard .alert-secondry button{
    font-size: 10px;
    padding-top: 12px;
    box-shadow: none;
}
.dashboard .stats-card{
    border: 1px solid var(--tertiary-grey-color);
    border-radius: 10px;
}
.dashboard .stats-card .content p{
    color: #333333;
    font-weight: 600;
    font-size: 16px;
    display: block;
    margin-bottom: 5px;
}

.dashboard .stats-card .content h4{
    font-weight: 700;
    font-size: 24px;
    margin: 0px;
}
.dashboard .stats-card .content .offer span{
   background-color: rgba(227,30,35, 0.2);
   padding: 5px 10px;
   border-radius: 50px;
   color: #E31E23;
   font-size: 14px;
}
.dashboard .stats-card .content .offer small{
    color: #979393;
    padding-left: 3px;
}

.dashboard .stats-card .icon-outer{
    width: 50px;
    height: 50px;
    background-color:#E31E23;
    border-radius: 8px;
}
.dashboard .graph-header h4{
    color: #333333;
    margin: 0;
}
.dashboard .graph-header p{
    color: #979393;
}

.dashboard  .department-card .title{
    font-size: 16px;
    font-weight: 500;
    color: var(--secondary-black);
}
.dashboard  .department-card .price{
    font-size: 16px;
    font-weight: 600;
    color: var(--primary-black);
}

.dashboard  .department-card .progress{
    height: 10px;
}
.dashboard  .department-card .progress-bar{
    background-color: var(--primary-color);
}
.dashboard .flow-row .title{
    font-size: 16px;
    font-weight: 600;
    color: var(--secondary-black);
    padding-left: 10px;
}
.dashboard .flow-row .circle{
    width: 14px;
    height: 14px;
    border-radius: 50%;
}
.dashboard .flow-row .progress-bar{
    height: 10px;
    background-color: var(--primary-color);
    border-radius: 10px;
}

.dashboard .small-card{
    border-radius: 10px;
}
.dashboard .small-card.bg-small-card{
    background: linear-gradient(90deg,rgba(253, 242, 242, 1) 35%, rgba(254, 242, 242, 1) 65%, rgba(241, 241, 241, 1) 84%);
    border:1px solid #f1aeb5;

}
.dashboard .small-card.bg-small-card .content h5{
    color: #58151c;
}
.dashboard .small-card .content h5{
    font-size: 18px;
    margin: 0;
    color: #ffffff;
}

.dashboard .small-card .content p{
    margin: 0px;
}
.dashboard .small-card.bg-small-card .btn-outline-danger{
    padding: 8px 12px;
    font-size: 14px;
    border-radius: 6px;
}


.dashboard .graph-card .table tbody tr td .doctor-name{
    font-size: 16px;
    font-weight: 600;
}

.dashboard .graph-card .table tbody tr td .badge-pill{
    color: var(--primary-black);
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 50px;
    font-size: 14px;
}

.patient-page .table tbody tr td{
    color: var(--secondary-black);
}
/* Modal styling */

.ipd-main-page .nav-pills-outer{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.ipd-main-page .card{
    border: none;
}
.ipd-main-page .card .card-header button{
    box-shadow: none;
    color: #ffffff;
    padding: 5px 15px;
    font-size: 16px;
} 
.appointment-page .nav-pills .nav-item .nav-link{
    color: #979393;
    font-size: 16px;
    padding: 15px 25px;
    border-radius: 10px;
    
}
.appointment-page .nav-pills .nav-item .active{
    background-color: #fee2e2;
    color: var(--primary-color);
    border-radius: 10px;
}
.appointment-page .nav-pills .nav-item:first-child .nav-link{
}
.appointment-page .form-outer .form-control{
    resize: none;
}
.appointment-page .search-box .form-control{
    min-height: 50px;
    padding-left: 45px;
    border-radius: 10px;
    width: 350px;
    resize: none;
}
.appointment-page .search-box .input-group-text{
    position: absolute;
    left: 0;
    top: 1px;
    z-index: 9;
    height: calc(100% - 2px);
    border: 0px;
    margin-left: 2px;
}

.search-box .filter-icon button{
    background-color: #ebecee;
    color: #979393;
}
.search-box .filter-icon span{
    position: absolute;
    left: 28px;
    top: 12px;
    margin-left: 2px;
    color: #979393;
    z-index: 1;
}
.appointment-page .nav-pills-outer .dr-btn{
    background-color: #4B5563;
    color: var(--primary-white-color);
}
.appointment-page .nav-pills-outer .queue{
    border: 1px solid #4B5563;
}
.appointment-page .nav-pills-outer .queue-icon{
    position: absolute;
    left: 6px;
    top:  15px;
    size: 22px;
}
.appointment-shedule .shedule-header{
    border-bottom: 1px solid var(--tertiary-grey-color)
}
.appointment-shedule .react-datepicker-wrapper {
  width: 100%;
}
.appointment-page .table tr td .action-btn {
 color: #CED1D7;
 box-shadow:none;
 
 padding: 0px 5px;
 background-color: #fff;

}
.appointment-page .table .action-btn button :hover{
    color: var(--primary-color);
}
/* Add Patient style */

.add-patient .top-bar{
    display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
  padding: 6px 12px;

}
.add-patient .top-bar .dropdown {
  flex: 1;
  max-width: 500px;
  padding: 6px 8px;
  border: none;
  border-radius: 4px;
  outline: none;
}
.add-patient .top-bar .btn-new{
  background: #fff;
  color: var(--primary-color);
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  font-weight: 600;
  margin-left: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.add-patient .top-bar .btn-close{
  background: transparent;
  color: #fff;
  font-size: 20px;
  border: none;
  margin-left: 10px;
  cursor: pointer;
  transition: 0.2s;
}
.patient-page
/* Modal Css styling */

.modal .modal-dialog .modal-body .save-btn button{
    letter-spacing: 1px;
}
.modal .modal-dialog .modal-body .add-datail{
    color: #4B5563;
    width: 50%;
    text-align: justify ;
}

.screen-overlay{
    position: absolute;
    width: 95%;
    height: calc(95% + 21px);
    cursor: progress;
    background-color: rgba(255, 255, 255, 0.70);
    z-index: 99;

}

/* Tab Styling */
.ipd-main-page .nav-pills-outer{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    overflow-x: hidden;            
    outline: none;  
}
.ipd-main-page .nav-pills {
      display: flex;
    margin: 0;
    list-style: none;
    white-space: nowrap;
    transition: all .18s ease;
    overflow-x: auto;     
    -webkit-overflow-scrolling: touch;
}
.ipd-main-page .nav-pills .nav-item .nav-link{
    color: #979393;
    border-radius: 0px;
    font-size: 16px;
    padding: 15px 25px;
    
}
.ipd-main-page .nav-pills .nav-item .active{
    background-color: #fee2e2;
    color: var(--primary-color);
}
.ipd-main-page .nav-pills .nav-item:first-child .nav-link{
    border-top-left-radius: 10px;
}
/* OverView Tab Styling */

.overview-tab .text-bold{
    font-weight: 500;
}
.overview-tab .table-section h6{
    text-transform: uppercase;
}
/* Ipd Nurse Tab  styling */
.ipd-nurse-note .card-body .card h6{
    color: var(--primary-color);
}
.idp-consultant-register .card-body{
    padding-left: 0px;
}
.idp-consultant-register .card-header{
    padding-left: 0px;
}
.ipd-prescription .card-body{
    padding-left: 0px;
}
.ipd-Lab-invetigation .card-body{
    padding-left: 0px;
}
.ipd-Lab-invetigation .table tr td button{
    color: #BDC1C9;
}
.overview-tab .progress-bar{
    background-color: var(--primary-color);
}
.overview-tab .card-body h6{
    color: var(--primary-color);
}
.overview-tab .card-body h5{
    color: #282828;
}
.ipd-Operations .card-header{
    padding-left: 0px;
}
.ipd-Operations .card-body{
    padding-left: 0px;
}
.idp-timeline .list-icon{
    position: absolute;
    left: 0;
    top: 5px;
    background-color: #0d6efd;
    color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    font-size: 14px;
}
.header{
    min-height:70px;
}
/* Setting  styling */
.setting-page .nav .nav-item{
    border-bottom: 1px solid var(--tertiary-grey-color);
}
.setting-page .nav .nav-item .nav-link{
 color: #595959;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 8px 10px;
  
}

.setting-page .nav .nav-link.active{
  
  color: #e21e23;
  
}
.setting-page .nav .nav-link:hover {
  
  color: #e21e23;
}
.setting-page .theme-card{
    border: 1px solid #ddd;
    border-radius: 6px;
    overflow: hidden;
    text-align: center;
    transition: all 0.3s ease;
}
.setting-page .theme-card:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }
.setting-page .theme-card img {
    width: 100%;
    height: 100px;
    object-fit: cover;
}
.setting-page .theme-card .btn {
      width: 100%;
      border-radius: 0;
    }